html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}


.home-bg{
  background-image: url("../media/back.jpg");
  min-height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

i{padding-top: 25px;
  font-size: 25px;
}
a{
  text-decoration: none;
  font-weight: 600;
  
}

.home-bg::after{
  content: "";
  background: rgba(0, 0, 30, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

}

nav{
  background-color: red;
}

nav .nav-link{
  font-size: 26px;
  padding-right: 20px !important;
}

.navbar-custom{
  background-image: none;
  opacity: 0.8;
}

/* features */


.features .card{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 30px;
  padding: 0.5rem 2rem 1rem 2rem;
  background-color: #246305;
  height: 25rem;
  width: 30rem;
  overflow:auto;


}


.features .diff-color{
background-color: #b0dd9a;
color: black;
}

.features svg{
  height: 8rem;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.item{
  overflow:hidden;
}
/* .clr{
clear:both;
} */

.features{
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  top: -85px;
  z-index: 5;


}
.features .card:hover{
  background-color: #b0dd9a;
  color: black;
  transition: 0.5s ease-in-out;
}

.features .diff-color:hover {
  background-color:#246305 ;
  color:white;
  transition: 0.5s ease-in-out;
}
.features i{
  padding-bottom: 3rem;
  font-size: 55px;
}

.features h2{
  padding-bottom: 55px;

}
.features p{
  font-size: 20px;

}

/* countries */

.data ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.5em;

}
.data ul li:before {
	content: "✔️";
	position: absolute;
	left: 0;
}

.data li{
  padding-bottom: 1rem;
  font-size: 1.3rem;
  padding-left: 1.5rem;
}

.countries{
  background-color: #e9efc0;
  position: relative;
}

.countries .data{
  padding-top: 6.5rem;
  padding-right: 11rem;
}

.countries p{
  font-size: 1.3rem;
  padding-bottom:1.5rem;
}


/* products */
.products{
  margin-top: 3rem;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.products .card{
  text-align: center;
  border-width: 0;
  width: 35rem;
}
.products img{
  height: 224px;
  width: 224px;
  border-radius: 50%;
  margin-left: 12rem;
}

.products .heading{
  margin-bottom: 3rem;
}

.products p{
  max-width: 15rem;
  margin-left: 10rem;
  margin-right: auto
}


/* contact */

.contact{
  text-align: center;
  background-color: #404040 ;
  padding-left: 13rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #c0c0c0;

}
.contact p{
  font-size: 20px;
}
.logo p{
  padding-top: 2rem;
  width: 18rem;
}

.contact .navigation{
  padding-left: 23rem;
}

.contact .contacts{
  margin-left: 23rem;
}

.navigation ul {
  font-size: 20px;
	position: relative;
  padding-bottom:10px;
	list-style: none;
	margin-left: 0;
	padding-left: 1.5em;
  text-align: left;
}
.navigation ul li:before {
	content: ">";
	position: absolute;
	left: 0;

}

.navigation li{
  padding-bottom: 10px;
}

.navigation .heading{
  padding-bottom : 2rem;
  font-size: 35px;
  color: white;
}

.logo i{
  font-size: 40px;
  color: #d1ee73;
  padding-right: 15px;
}

.social-media{
  padding-left: 3.5rem;

}

.open{
  padding-top: 20px;
}


.wrapper {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-gap: 4rem;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* products_cat */

.items{

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.items img{
  height:70%;

}

.whoarewe{
  display: flex;

  justify-content: center;
}
.whoarewe-data{
  margin-top: 7rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #0da125;
  color: white
}

.whoarewe-data p{
  font-size: 20px;
  width:70rem;
  color: #c0c0c0;
}

.whywe{
  justify-content: center;
  margin-top: 2rem;
}

.whywe-data{
  padding: 2.5rem 0 0 5rem;
  margin-top: 7rem;
  width: 50rem;
  height: 20rem;

  background-color: #76BA99;
  color: white
}

.dashboard{
  text-align: center;
  justify-content: center;
  background-color: #0da125;
  grid-gap: 25px;
  padding: 2rem 0 2rem 0;
  margin: 0 2rem 2rem  2rem;
}

.contactus{
  text-align: center;
}

.details{
  background-color: #00FFAB;
  margin: 2rem 2rem;
  margin-top: 2rem;
  padding: 2rem 0;
  grid-gap: 4.5rem;
  justify-content: center;
  text-align: left;

}
.icon{
  height: 4rem;
  width: 4rem;
  margin-right: 20px;
}
.email i{
  font-size: 4rem;
  padding-top: 0;
}

.telephone i{

  font-size: 4rem;
  padding-top: 0;
  padding-right: 1rem;

}

.day-open i{
  font-size: 4rem;
  padding-top: 0;
  padding-right: 1rem;

}

/* products.html */
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
}

.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #080f09;
    margin: 10px auto 10px;
}

.heading_container h2 span {
  color: #369442;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.inner_page_head {
  background: #6cb846;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.inner_page_head h3 {
  font-size: 42px;
  font-weight: 800;
}

.heading_container.heading_center h3 {
  position: relative;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

li.nav-item ul {
  background: #fff;
  border: solid #000 2px;
  border-radius: 0;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 4px 4px 0px 0 #000;
  width: 190px;
}

li.nav-item ul li {
  float: left;
  width: 100%;
  margin: 6px 0;
}

li.nav-item ul li a {
  color: #212529;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 10px;
  transition: ease all 0.5s;
}

li.nav-item ul li a:hover, li.nav-item ul li a:focus {
  color: #f7444e;
}

.layout_padding {
  padding: 70px 0;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #f7f8f9;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 160px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product_section .box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}

.product_section .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.arrival_section {
    background-color: #d4ced0;
}
.product_section .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_section .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px 0;
}

.product_section .options .option1 {
  background-color: #32d63b;
  border: 1px solid #6dac78;
  color: #ffffff;
}

.product_section .options .option1:hover {
  background-color: transparent;
  color: #080000;
}

.product_section .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #0e8d2e;
  border: 1px solid #717773;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #0c0909;
}

/* about.html */
.arrival_section .heading_container {
  color: #002c3e;
  margin-bottom: 10px;
}

.arrival_section .box {
  padding: 120px 45px;
  position: relative;
}

.arrival_section .arrival_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.arrival_section .arrival_bg_box img {
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top left;
    object-position: top left;
}

.arrival_section a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.arrival_section a:hover {
  background-color: transparent;
  color: #f7444e;
}

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
}

.detail-box h5 {
    font-size: 21px;
    font-weight: 700;
}

.remove_line_bt h2::after {
    display: none;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box svg {
  width: 55px;
  height: auto;
  fill: #ffffff;
}
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right{
  margin-left: 40rem;
  position: relative;
  z-index: 5;
}

/* contact.html */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}
.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.section-title {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1C1C1C;
}

.section-title span {
  position: relative;
  background: #ffffff;
  z-index: 1;
}

.section-title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #1C1C1C;
}
.font-weight-semi-bold {
  font-weight: 700;
}

h5{
  font-size: 1.25rem;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
.text-primary {
  color: #80e47d !important;
  padding-top: 0;
}

.contact-details p{
  color: #7d817f !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #EDF1FF;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}
.pt-5 {
  padding-top: 7rem!important;
  padding-bottom: 5rem !important;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .navbar-toggler{
      margin-left: 3rem;
    }

    .main{
      padding: 0;
    }
    .features p {
    font-size: 17px;
    width: 15rem;

    }

    .features{
      flex-direction: column;
      align-items: center;
      padding-right: auto;
      padding-left: auto;
      top: -18rem;
      grid-gap: 1.5rem;

    }
    .item{
      max-width: 20rem;
      width:18rem;
      align-items: center;
      border-radius: 5%;


    }
    .features .card{
      margin: 0;
      max-width: 20rem;


    }
    .features i{
      padding: 0;
      padding-bottom: 2rem;
    }

    .countries{
      align-items: center;
      flex-direction: column;
      top: -250px;
      order: 2;

    }
    .countries .data {
      padding-top: 3rem;
      padding-right: 2rem;
      padding-left: 2.5rem;
    }

    .data h3,p{
      text-align: center;
    }

    .data ul{
      margin-left: 5.5rem;
    }

    .products{
      position: relative;
      top: -150px;
      margin:0;
    }
    .card-body{

    }
    .products .items{
      flex-direction: column;
    }
    .products img{
      margin-left: 6rem;
    }
    .card-title{
      width: 23rem;
    }
    .products p{
      margin-left: 4rem;
    }


    /* contact */
    .mo-view{
      flex-direction: column-reverse !important;
    }
    .contact{
      padding-left: 0;
      text-align: center;
      ;
    }
    .logo,.contacts,.navigation{
      padding-left: 0
    }
    .logo img{
      vertical-align: none !important;

    }
    .contact p{
      margin-left: 2rem
    }
    .social-media {
    padding-left: 7.5rem;
    }
    .logo p {
    padding-top: 2rem;
    /* width: 18rem; */
    /* margin-left: 0; */
    }

    .navigation{
      padding-left: 0 !important;
      padding-top:2rem !important;
      text-align: center;
    }

    .navigation .list{
      text-align: center;
      margin-left:7.5rem;
      padding-left: 0 !important;
    }

    .contacts{
      margin-left: 0!important;
    }

    .wrapper{
      grid-template-columns: repeat(2, 1fr);
    }


}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 850px) {
    .view {
        width: 600px;
    }
    .wrapper{
      grid-template-columns: repeat(3, 1fr);
    }

}
